<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ornament</title>
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/public/css/page2.css" />
    <script src="/public/scripts/jquery-3.2.1.js"></script>
    <script src="/public/scripts/jq.js"></script>
  </head>
  <body>
    <div class="contain">
      <div class="biglogo up-a-bit">
        <img class="center-logo" src="/public/img/mainpage-header.png"/>
        <p class="motto">Loading...</p>
        <div class="loader"></div>
        <button class="learn">Learn more</button>
      </div>
      <div class="tint">
        <div class="tint-contents">
          <ol>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Projects</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ol>
        </div>
      </div>
      <div class="nav hidden">
        <div class="logo logo-hidden">
          <img src="/public/img/logo.png" class="logoimg" />
        </div>
        <div class="contain-nav-options contain-nav-options-hidden">
          <!-- <button class="nav-options">About</button>
          <button class="nav-options">Projects</button>
          <button class="nav-options">Contact</button> -->
          <button class="menu-button">
            <span class="menu-button-span shorter-span shorter-span-right"></span>
            <span class="menu-button-span span-center"></span>
            <span class="menu-button-span shorter-span shorter-span-left"></span>
          </button>
          <script>
            $('.menu-button').hover(function(){
              $('.menu-button-span').css('background-color', '#959595');
            }, function(){
              $('.menu-button-span').css('background-color', '#626262');
            });
          </script>
        </div>
      </div>
    </div>
    <div class="contain-floating-links hidden">
      <div class="contain-individual-images contain-individual-images-left" id="contain-leaf">
        <img id="leaf-link" class="links-floating" src="/public/img/leaves.png"/>
        <h1 class="leaf-label images-label">About</h1>
      </div>
      <div class="contain-individual-images contain-individual-images-left" id="contain-tree">
        <img id="tree-link" class="links-floating" src="/public/img/trees.png"/>
      </div>
      <div class="contain-individual-images contain-individual-images-right" id="contain-wave">
        <img id="wave-link" class="links-floating" src="/public/img/waves.png"/>
      </div>
      <div class="contain-individual-images contain-individual-images-right" id="contain-dandelion">
        <img id="dandelion-link" class="links-floating" src="/public/img/dandelion.png" />
      </div>
    </div>
    <div class="bottomcontain">
      <div class="about-contain">
        <img class="bg1-class" src="/public/img/bg1.jpg" />
        <h1 class="about-h1">We are a team of developers and designers based in Shanghai. We have an enduring passion for web development as well as elegance in design.</h1>
      </div>
    </div>
  </body>
</html>
