.bottomcontain{
  transition:all 2s ease-in-out;
  position:absolute;
  width:100vw;
  height:100vh;
  bottom:-100vh;
}
.leaf-top{
  position:absolute;
  transition:all 500ms ease-in-out;
  /*top:50px;
  left:0px;*/
  transform:scale(0.75) !important;
  left:20px !important;
  top:20px !important;
  margin:0 !important;
}
.selected-img{
  filter: brightness(0%);
  -webkit-filter: brightness(0%);
  -moz-filter: brightness(0%);
  -ms-filter: brightness(0%);
  -o-filter: brightness(0%);
  filter: brightness(0%);
}
.images-label{
  transition: all 250ms ease-in-out;
    color: black;
    font-size: 50px;
    font-weight: 100;
    top: 52px;
    position: absolute;
    width: 100%;
    text-align: center;
}

.divide-from-contain{
  width: 10px;
  height: 100%;
  margin: 0;
  border-right: 1px solid black;
  margin-left: 300px;
  padding: 0;
  position: absolute;
}
.about-contain{
  position: relative;
  width:100%;
  height:100%;
  padding-left: 310px;
  padding-top:30px;
  padding-right:200px;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align: center;
}
.bg1-class{
  position:relative;
  width:550px;
  height:auto;
  float:right;
}
.about-h1{
  width:550px;
  float:right;
  position:relative;
  font-size:20px;
  font-weight:300;
}
.click{
  position:absolute;
}
.tree-link-show{
  position:absolute;
  transition:all 1000ms ease-in-out;
  left:20px !important;
  margin:0 !important;
  margin-left: 60px !important;
  bottom: 60px !important;
  transform:scale(1.25) !important;
}
.tree-label{
  font-size:20px;
  top:49px;
}
.wave-label{
  font-size:35px;
  top:75px;

}
.contain-individual-images{
  z-index:200000;
}
.links-floating{
  z-index:10000;
}
